@import url("/src/fonts/SourceCodePro-Regular.woff2");
@import url("/src/fonts/SourceCodePro-Bold.woff2");
@import url("/src/fonts/SourceCodePro-Medium.woff2");
@import url("/src/fonts/SourceCodePro-SemiBold.woff2");
:root {
  --letter_purple: #9b3ffd;
  --letter_primary: var(--letter_purple);
  --letter_black: #161616;
  --letter_cyan: #19b1f1;
  --letter_green: #00ff48;
  --letter_blue: #0b40ff;
  --letter_red: #ff2e2e;
  --letter_black: #161616;
  --background-purple: #361b39;
  --background-cyan: #1c243e;
  --background-red: #271f1f;
  --background-blue: #030224;
  --background-green: #284034;
  --background-color: var(--background-purple);
  --background-light: #dadada;
  --hover-purple: rgb(100, 33, 100);
  --hover-blue: rgb(37, 33, 100);
  --hover-cyan: rgb(34, 89, 134);
  --hover-green: rgb(58, 146, 102);
  --hover-red: rgb(199, 86, 86);
  --hover-light: rgb(99, 99, 99);
  --hover-primary: var(--hover-purple);
  --text-color: #ebebeb;
  --text-dark: #1d1d1d;
  --shadow: #161616cb;
}

:root.cyan {
  --letter_primary: var(--letter_cyan);
  --background-color: var(--background-cyan);
  --hover-primary: var(--hover-cyan);
}

:root.green {
  --letter_primary: var(--letter_green);
  --background-color: var(--background-green);
  --hover-primary: var(--hover-green);
}

:root.blue {
  --letter_primary: var(--letter_blue);
  --background-color: var(--background-blue);
  --hover-primary: var(--hover-blue);
}

:root.red {
  --letter_primary: var(--letter_red);
  --background-color: var(--background-red);
  --hover-primary: var(--hover-red);
}

:root.light {
  --letter_primary: var(--letter_black);
  --background-color: var(--background-light);
  --text-color: var(--text-dark);
  --hover-primary: var(--hover-light);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Source Code Pro", "Fira Code";
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

span {
  font-size: 16px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  width: 100%;
  height: 60px;
  background: var(--background-color);
  position: fixed;
  top: 0px;
  transition: all ease 800ms;
}
header .flex {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}
header .flex .content-nav.show {
  left: 0;
}
header .aboutme {
  display: none;
}

.content-logo {
  left: 40px;
  position: absolute;
  border: 1px solid;
  color: #393939 !important;
  width: 60px;
  height: 100%;
  display: flex;
  cursor: pointer;
}
.content-logo .icon {
  fill: var(--background-color);
  stroke: var(--letter_primary);
  stroke-width: 3px;
  box-shadow: 1px 1px 10px #6d6dff;
  transition: all ease 200ms;
}
.content-logo :hover .icon {
  fill: var(--hover-primary);
}

.flex .content-nav {
  width: 70%;
  min-width: 300px;
  position: fixed;
  left: -100%;
  top: 80px;
  background: var(--background-color);
  transition: all ease 500ms;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 100;
}
.flex .content-nav nav {
  font-size: 25px;
  width: 100%;
  height: 100% !important;
  color: var(--text-color);
  background: var(--background-color);
  z-index: 1000;
}
.flex .content-nav nav .nav-menu {
  width: 100%;
  height: 40%;
  list-style: circle !important;
  display: block;
  box-sizing: border-box;
}
.flex .content-nav nav .nav-menu li.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 4px;
  margin: 2px 0px;
  cursor: pointer;
  transition: all ease 300ms;
}
.flex .content-nav nav .nav-menu .menu-item:hover {
  background-color: var(--hover-primary);
  border-bottom: 1px solid;
}
.flex .content-nav nav .nav-menu .menu-item a {
  text-decoration: none;
  color: var(--text-color);
}
.flex .content-nav nav .nav-menu .drop-item {
  width: 100%;
  height: 60px;
  transition: all ease 700ms;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.flex .content-nav nav .nav-menu .drop-item .drop-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}
.flex .content-nav nav .nav-menu .drop-item .drop-content {
  width: 100%;
  display: none;
  top: -10px;
  position: absolute;
  height: 30px;
  overflow: none;
}
.flex .content-nav nav .nav-menu .drop-item .drop-content select {
  width: 100%;
  height: 40px;
}
.flex .content-nav nav .nav-menu .drop-item .item {
  list-style: none;
  width: 100%;
}
.flex .content-nav nav .nav-menu .drop-item .item button {
  border: none;
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 300ms;
  cursor: pointer;
}
.flex .content-nav nav .nav-menu .drop-item .item button.purple {
  background-color: var(--background-purple);
  color: var(--letter_purple);
}
.flex .content-nav nav .nav-menu .drop-item .item button.cyan {
  background-color: var(--background-cyan);
  color: var(--letter_cyan);
}
.flex .content-nav nav .nav-menu .drop-item .item button.blue {
  background-color: var(--background-blue);
  color: var(--letter_blue);
}
.flex .content-nav nav .nav-menu .drop-item .item button.green {
  background-color: var(--background-green);
  color: var(--letter_green);
}
.flex .content-nav nav .nav-menu .drop-item .item button.red {
  background-color: var(--background-red);
  color: var(--letter_red);
}
.flex .content-nav nav .nav-menu .drop-item .item button.light {
  background-color: var(--background-light);
  color: var(--letter_black);
}
.flex .content-nav nav .nav-menu .drop-item .item button:hover {
  filter: brightness(2);
}
.flex .content-nav nav .nav-menu .drop-item:hover {
  width: 100%;
  height: auto;
}
.flex .content-nav nav .nav-menu .drop-item:hover .drop-content {
  top: 0px;
  display: block;
  position: relative;
  height: auto;
}

#burger:hover {
  background-color: var(--hover-primary);
}

#burger {
  position: absolute;
  top: 5px;
  right: 40px;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  z-index: 10000;
}
#burger .btn-hamburguesa {
  background: none;
  border-style: none;
  width: 100%;
  height: 100%;
  display: block;
}
#burger .btn-hamburguesa .t-line {
  width: 70%;
  display: block;
  border-radius: 2px;
  margin: 2px auto;
  height: 3px;
  background: var(--letter_primary);
  animation: tline-close;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
#burger .btn-hamburguesa .m-line {
  opacity: 1;
  transition: all ease-in 600ms;
  display: block;
  margin: 8px auto;
  width: 50%;
  border-radius: 2px;
  height: 2px;
  background: var(--letter_primary);
}
#burger .btn-hamburguesa .b-line {
  display: block;
  width: 70%;
  border-radius: 2px;
  margin: 2px auto;
  height: 3px;
  background: var(--letter_primary);
  animation-name: bline-close;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
#burger button.open .t-line {
  animation-name: tline;
}
#burger button.open .b-line {
  width: 70%;
  animation-name: bline;
}
#burger button.open .m-line {
  opacity: 0;
}

@keyframes tline {
  50%, 100% {
    margin: 0 auto;
    transform: translateY(10px) rotate(-45deg);
  }
}
@keyframes bline {
  50%, 100% {
    margin: 0 auto;
    transform: translateY(-12px) rotate(45deg);
  }
}
@keyframes tline-close {
  0% {
    margin: 0 auto;
    transform: translateY(10px) rotate(-45deg);
  }
  50%, 100% {
    margin: 2px auto;
    transform: translateY(0) rotate(0);
  }
}
@keyframes bline-close {
  0% {
    margin: 0 auto;
    transform: translateY(-11px) rotate(45deg);
  }
  50%, 100% {
    margin: 2px auto;
    transform: translateY(0px) rotate(0);
  }
}
main {
  margin: 80px auto;
  padding: 10px;
  box-sizing: border-box;
}

@media screen and (min-width: 800px) {
  #burger {
    display: none;
  }

  header {
    height: 90px;
    top: 0px;
    position: fixed;
    box-shadow: 0px 0px 5px 0.5px var(--shadow);
  }
  header .flex {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0px;
    justify-content: space-around;
    background-color: var(--background-color);
  }
  header .flex .content-logo {
    position: relative;
    width: 80px;
    height: 100%;
    top: 0;
    left: 0;
  }
  header .flex .content-nav {
    position: relative;
    width: 80%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    margin: 0 40px 0 0px;
  }
  header .flex .content-nav nav {
    width: 100%;
    height: 100%;
  }
  header .flex .content-nav nav ul.nav-menu {
    width: 100%;
    height: 100%;
    display: flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: none;
  }
  header .flex .content-nav nav ul.nav-menu .drop-item {
    width: 200px;
    height: 40px;
    z-index: 1000;
  }
  header .flex .content-nav nav ul.nav-menu .drop-item:hover {
    width: 250px;
    height: 40px;
  }
  header .flex .content-nav nav ul.nav-menu .drop-item:hover .drop-content {
    background-color: var(--background-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100%;
    position: absolute;
    height: auto;
  }
  header .flex .content-nav nav ul.nav-menu .drop-item:hover .drop-content button {
    border-radius: 10px;
    margin: 5px 0;
    box-shadow: 1px 3px 3px 1px var(--shadow);
  }
  header .flex .content-nav nav ul.nav-menu .menu-item:nth-child(3) {
    border-radius: 20px;
    border: 2px solid var(--letter_primary);
    width: 160px;
  }
  header .flex .content-nav nav ul.nav-menu .menu-item:nth-child(3) a {
    color: var(--letter_primary);
  }
  header .flex .content-nav nav ul.nav-menu .menu-item {
    width: 180px;
    height: 40px;
  }
  header .flex .content-nav nav ul.nav-menu .menu-item:hover,
header .flex .content-nav nav ul.nav-menu .menu-item:hover a {
    border: none;
    color: var(--letter_primary) !important;
    background: none;
  }
  header .flex .content-nav nav ul.nav-menu .menu-item:hover:nth-child(3) a {
    color: var(--background-color) !important;
    font-weight: 600;
  }
  header .flex .content-nav nav ul.nav-menu .menu-item:hover:nth-child(3) {
    background: var(--letter_primary);
  }

  main {
    display: block;
    width: auto;
    height: auto;
    border: 1px solid;
    box-sizing: border-box;
    margin: 150px auto 0;
  }
  main .principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
  }
  main .principal .aboutme {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
  }
  main .principal .aboutme .content-ab {
    width: 350px;
    height: auto;
  }
  main .principal .aboutme .content-ab .content-text {
    text-align: center;
  }
  main .principal .aboutme .content-ab h2 {
    color: var(--text-color);
  }
  main .principal .aboutme .content-ab h2 span {
    color: var(--letter_primary);
  }
  main .principal .aboutme .conte {
    width: 400px;
    height: 200px;
    background-color: #000;
  }
}

/*# sourceMappingURL=index.css.map */
